<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <manik_testpayment>
                <title>Test Payment</title>
                <model>Manik\TestPayment\Model\TestPayment</model>
                <active>1</active>
                <cctypes>AE,VI,MC,DI</cctypes>
            </manik_testpayment>
        </payment>
    </default>
</config>
